.main-massage{
    text-align: center;
    font-size: 2.3rem;
    color: var(--text-color);
    margin: 6rem 0;
}

@media only screen and (max-width: 768px){
    .main-massage{
        font-size: 1.9rem;
        margin: 4rem 0;
    }
}
@media only screen and (max-width: 480px){
    .main-massage{
        font-size: 1.6rem;
        margin: 3.5rem 0;
    }
}