:root{
  --bg-color: #dbe0eb;
  --elems-color: #f4f8ff;
  --text-color: #303438;
}
body{
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font-family: tahoma;
}
.container{
  max-width: 60rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}
input:focus, textarea:focus{
  outline: none;
}
button{
  font-family: tahoma;
}

@media only screen and (max-width: 992px){
  .container{
      max-width: 624px;
  }
}
@media only screen and (max-width: 768px){
  .container{
      max-width: 448px;
  }
}
@media only screen and (max-width: 480px){
  .container{
      max-width: 100%;
  }
}